{% comment %}
  This include requires items to be passed as argument.
  Items are generated and stored in the `menu_items` variable in home layout.
  You can access the items in Liquid using `layout.menu_items`.
{% endcomment %}

{% assign items = include.items | default: [] %}
{% if items.size > 0 %}
  
  {% assign this_depth = include.depth | default: 0 %}
  {% assign next_depth = this_depth    | plus: 1    %}

  <ul data-menu-depth="{{ this_depth }}">
  {% for item_hash_entry in items %}
    {% assign item = item_hash_entry[1] %}
    <li>
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
      {% include dynamic-menu.html 
                 items=item.subitems
                 depth=next_depth    %}
    </li>
  {% endfor %}
  </ul> 

{% endif %}
