<header class="site-header">
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <button id="burger" class="navbar-burger burger__button">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-item" rel="author" href="{{ "/" | relative_url }}">
        <img class="navbar-logo" src="https://yt3.ggpht.com/a-/AAuE7mAzF0YlAQv0YQxq35osxnWg0WGqpKzW33Aa=s288-mo-c-c0xffffffff-rj-k-no" width="30" height="30">
        <span>{{ site.title | escape }}</span>
      </a>
    </div>
    <div id="navbar-items" class="navbar-menu">
      <div class="navbar-start">
        {%- for my_page in site.pages -%}
          {%- if my_page.title -%}
            <a class="navbar-item" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </nav>
</header>
