@charset "utf-8";
/** import bulma sass component**/
@import "./bulma/sass/utilities/_all.sass";
@import "./bulma/sass/base/_all.sass";
@import "./bulma/sass/elements/box.sass";
@import "./bulma/sass/elements/container.sass";
@import "./bulma/sass/elements/icon.sass";
@import "./bulma/sass/elements/tag.sass";
@import "./bulma/sass/components/menu.sass";
@import "./bulma/sass/components/navbar.sass";
@import "./bulma/sass/layout/footer.sass";
/** import git-book markdown style **/
@import "./mdcss.scss";
/** override bulma style **/
@import "./bulma-override.scss";
/** font **/
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
  font-family: 'GenYoMinTW';
  src: url('../font/GenYoMinTW-Regular.ttf');
}

body{
  font-family: 'Noto Sans TC', sans-serif;
}

.MJXc-TeX-unknown-R{
  font-family: 'GenYoMinTW' !important;
}
.MJXc-TeX-unknown-B{
  font-family: 'GenYoMinTW' !important;
  font-weight: bold;
}