---
layout: wiki
---
<h1>{{ page.title | escape }}</h1>
{%- assign sorted_pages = site.wiki | sort: 'url' -%}
{%- for sorted_page in sorted_pages -%}
  {%- for tag in sorted_page.tags -%}
    {%- if tag.name == page.tag -%}
      <div class="tagsearch__box box">
        <a href="{{ sorted_page.url }}">
          {{ sorted_page.title | escape }}
        </a>
        <div>
          {{ sorted_page.excerpt | strip_html }}
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
