---
layout: default
---
{%- include wiki-sidebar.html -%}
<article class="color-theme-1 wiki__post container js-Pjax">
  <div class="markdown-section">
    {{ content }}
  </div>
</article>
<script src="https://cdn.jsdelivr.net/npm/pjax/pjax.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML&locale=zh-hant' async></script>
<script>
  (function() { 
    var pjax = new Pjax({
      selectors: ["title", ".js-Pjax"],
      switches: {
        ".js-Pjax": Pjax.switches.outerHTML
      }
    });
    function ReloadMath() {
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    }
    document.addEventListener("pjax:success", ReloadMath);
  })();
</script>
